<div>

    <h2>Welcome!</h2>

    <p>Fairy paw Prints is a two person part time business specialising in ePublication. We offer editing and publishing
        services, web page design and hosting, plus the creative endeavours of both Neale & Alex the husband and wife
        team behind Fairy Paw prints.
    </p>

    <h2>News</h2>
    <div class="panel-body">
        <strong>9 June 2014</strong>
        <p>Apologies for being a bit slack with the updates, we're had a interesting few weeks.  First off we have some new
            <a href="home" ng-click="pageLoad(3)" class="ng-binding">Fairy sized reviews</a>,  The first Hunger games movie, plus some brainless action GI Joe: Retaliation.</p>
        <p>And as far as our own stuff goes, we are putting the finishing touches to a second short video Alex has produced for school, and it has been decided to put Jennings back to the editing desk before release.</p>
        <p>Oh and lastly for something a little different, we have completed something, our mini recording studio is complete,  it's been used first on the video I metioned just before, plus well we hope to have something new soon enough.</p>
        <p>While we're working on Jennings, we have other content for you, and we've kicked off a new section
    </div>
    <div class="panel-body">
        <strong>18 May 2014</strong>

        <p>While we're working on Jennings, we have other content for you, and we've kicked off a new section
            <a href="home" ng-click="pageLoad(3)" class="ng-binding">Fairy sized reviews</a> for everything you want to know about old and new movies and books, all in a couple
             or sentences. <a href="home" ng-click="pageLoad(3)" class="ng-binding">To begin</a> Thor: The Dark World, And Hunger Games Book 1.</p>
    </div>
    <div class="panel-body">
        <strong>11 May 2014</strong>

        <p>First update. We're going along well here at FPP. We've been editing and preparing Alex's first story
            for publication, Origin: Jennings and it's getting nice and close now.</p>
    </div>
    <div class="panel-body">
        <strong>1 May 2014</strong>

        <p>Release of the new Fairy Paw Prints site. The sites up and alive, please come back for more news and
            exciting reading and viewing.</p>
    </div>
    <div class="text-center">
        <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=faipawpri-20&o=1&p=48&l=ur1&category=kindlerotating&f=ifr&linkID=47MC4IQTVSK7IATL" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
</div>
