<div ng-controller="comingSoon">
    <h2>Buy from us</h2>

    <p>This is the page where we hope to become rich and famous!</p>

    <p>No?</p>

    <p>OK, where we hope to be able to eat next week.</p>

    <p> Some of Alex's writings will be available from Amazon.com, and we hope you enjoy reading them as much as she
        enjoys writing them. </p>
    <h3>Released!</h3>
    <h4>Jennings</h4>
    <ul>
        <li><a href="http://www.amazon.com/gp/product/B00LKLNWW6/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00LKLNWW6&linkCode=as2&tag=faipawpri-20&linkId=HZG76A3FL4LBNBY3">Origin: Jennings (Origins Series Book 1)</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=faipawpri-20&l=as2&o=1&a=B00LKLNWW6" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </li>
    </ul>
    <p>For more information on these stories, see the Writing page.</p>

    <h3>To come.</h3>
    <h4>Victoria Harper, Investigative Mage</h4>
    <ul>
        <li><a href="" ng-click="comingSoon()">Victoria Harper, Forensic Mage</a> (Amazon. Coming soon)</li>
    </ul>
    <div id="comingSoon" class="modal hide fade in" style="display: none;">
        <div class="modal-header">
            <h4>Book not yet available.</h4>
        </div>
        <div class="modal-body">
            this book is being worked on and due for release soon, thank you for your interest.
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" ng-click="comingSoonClose()">Close</a>
        </div>
    </div>
</div>
