<div>
    <h2> Published items </h2>
    <div class="panel-body">
        <div style="float:left; width:120px;">
            <a href="http://www.amazon.com/gp/product/B00LKLNWW6/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00LKLNWW6&linkCode=as2&tag=faipawpri-20&linkId=LL524UBAMCBAZF7Y"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00LKLNWW6&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=faipawpri-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=faipawpri-20&l=as2&o=1&a=B00LKLNWW6" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </div>
        <div style="float:left; width:600px;">
            <a href="http://www.amazon.com/gp/product/B00LKLNWW6/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00LKLNWW6&linkCode=as2&tag=faipawpri-20&linkId=HZG76A3FL4LBNBY3">Origins : Jennings</a> <br />
            Ten years ago, super powered individuals appeared in the world.<br />
            Sergeant Kerry Jennings is just your average career military woman, until she is abducted and transformed by the super criminal Iron Sting, and set the task of returning his most successful experiment to him. Unfortunately for him, his experiment is not willing to return...
        </div>
        <div style="clear:both;"></div>
    </div>
    <h2>News</h2>
    <div class="panel-body">
        <strong>27th July 2014</strong>
        <p>
            Well the time is flying, Alex has been working on the prequel novel to Origin: Jennings.<br/>
            The novelette has been selling reasonably well,  of course we've not pushed it that hard yet,  Alex promises to do better soon.<br />
            Although in regards to advertising we've found that Amazon has had her up as a new book of the day,  I think it's responsible for a few sales at least.
            And now in addition to the book selling update we have a new <a href="home" ng-click="pageLoad(3)" class="ng-binding">Fairy sized reviews</a>,  Frozen. The Disney instant classic, with that song that spins round and round like an ice dancer. <br/>
            Enjoy.
        </p>
    </div>

    <div class="panel-body">
        <strong>13th July 2014</strong>
        <div style="clear:both"></div>
        <p style="float:left; width:70%">And we are here! Published and approved and now available. Origins: Jennings, at the low price of USD 2.99.
           Read all about the adventures of Sergent Jennings and support Alex as she commences down the road of hopeful
           and professional Authorship!</p>
        <p style="float:right; width:120px;">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=faipawpri-20&marketplace=amazon&region=US&placement=B00LKLNWW6&asins=B00LKLNWW6&linkId=OJ5DE2HAIH7KVTKK&show_border=true&link_opens_in_new_window=true">
            </iframe>
        </p>
    </div>
    <div class="panel-body">
        <strong>6 July 2014</strong>
        <p>We're getting closer.  Origins Jennings has just gone up for publishing with Amazon.com. In short they do whatever
            they need to do with it,  and withing the next 2 days we have a nice novelette up and in the marketplace, all
            shiney and new. Yay!  </p>
    </div>
    <div class="panel-body">
        <strong>9 June 2014</strong>
        <p>Apologies for being a bit slack with the updates, we're had a interesting few weeks.  First off we have some new
            <a href="home" ng-click="pageLoad(3)" class="ng-binding">Fairy sized reviews</a>,  The first Hunger games movie, plus some brainless action GI Joe: Retaliation.</p>
        <p>And as far as our own stuff goes, we are putting the finishing touches to a second short video Alex has produced for school, and it has been decided to put Jennings back to the editing desk before release.</p>
        <p>Oh and lastly for something a little different, we have completed something, our mini recording studio is complete,  it's been used first on the video I metioned just before, plus well we hope to have something new soon enough.</p>
    </div>
    <div class="panel-body">
        <strong>18 May 2014</strong>

        <p>While we're working on Jennings, we have other content for you, and we've kicked off a new section
            <a href="home" ng-click="pageLoad(3)" class="ng-binding">Fairy sized reviews</a> for everything you want to know about old and new movies and books, all in a couple
             or sentences. <a href="home" ng-click="pageLoad(3)" class="ng-binding">To begin</a> Thor: The Dark World, And Hunger Games Book 1.</p>
    </div>
    <div class="panel-body">
        <strong>11 May 2014</strong>

        <p>First update. We're going along well here at FPP. We've been editing and preparing Alex's first story
            for publication, Origin: Jennings and it's getting nice and close now.</p>
    </div>
    <div class="panel-body">
        <strong>1 May 2014</strong>

        <p>Release of the new Fairy Paw Prints site. The sites up and alive, please come back for more news and
            exciting reading and viewing.</p>
    </div>
    <div class="text-center">
        <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=faipawpri-20&o=1&p=48&l=ur1&category=kindlerotating&f=ifr&linkID=47MC4IQTVSK7IATL" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
</div>
